@model NetEmpSalaryViewModel
@{
    ViewData["Title"] = "ViewAdvancesIncentivesAndDiscounts";
    Layout = "_Dashboard";
}

<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>شركه سمارت مون</title>
    <!-- رابط الأنماط -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/عمليه بيع جديده.css">
    <link rel="stylesheet" href="~/css/الموظفين.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
    <!-- Loading Screen -->
    <div id="loading-screen">
        <div class="spinner"></div>
        <p>جاري التحميل...</p>
    </div>

   

    <section class="transaction-section">
        <div class="separator">
            <h2>تسجيل السلف والحوافز والخصومات</h2>
        </div>

        <form asp-action="SaveItems" asp-controller="Admin" method="post">
        <!-- الصف الأول: تاريخ الصرف -->
        <div class="row">
            <div class="column">
                <label for="transaction-date">تاريخ الصرف</label>
                <input type="date" asp-for="Date" id="transaction-date"  >
            </div>
        </div>

        <!-- الصف الثاني: اختيار الموظف، البند، والمبلغ -->
        <div class="row">
                <div class="column">
                    <label for="employee-name">الموظف</label>
                    <div class="custom-select">
                        <input type="text" id="employee-name" placeholder="اختر الموظف" autocomplete="off">
                        <div class="options-list" id="employee-name-options">
                            <!-- Options will be added here dynamically -->
                        </div>
                        <input type="hidden" asp-for="EmployeeId" id="employee-id">
                    </div>
                </div>



            <div class="column">
                <label for="transaction-type">البند</label>
                <select asp-for="Item" >
                    <option value="" disabled selected>اختر البند</option>
                    <option value="سلفة">سلفة</option>
                    <option value="حافز">حافز</option>
                    <option value="خصم">خصم</option>
                </select>
            </div>
                <div class="column">
                    <label for="transaction-type">الخزنة</label>
                    <select asp-for="MoneyDrawer">
                        <option value="" disabled selected>اختر الخزنة</option>
                       @foreach(var drawer in Model.Darwers)
                        {
                            <option value="@drawer">@drawer</option>
                        }
                    </select>
                </div>
            <div class="column">
                <label for="transaction-amount">المبلغ</label>
                <div class="input-group">
                    <input asp-for="Amount" id="transaction-amount" placeholder="أدخل المبلغ">
                    <button type="submit"><i class='bx bx-plus'></i></button>
                </div>
            </div>
        </div>
        </form>
        <!-- جدول السجلات -->
        <table class="transaction-table">
            <thead>
                <tr>
                    <th>التاريخ</th>
                    <th>الموظف</th>
                    <th>البند</th>
                    <th>المبلغ</th>
                    
                    <th>حذف</th>
                </tr>
            </thead>
            <tbody id="transaction-body">
                @foreach(var item in Model.empSalaries)
                {
                    <tr>
                        <td>@item.Date</td>
                        <td>@item.Employee.Name</td>
                        <td>@item.Item</td>
                        <td>@item.Amount</td>
                        <td><a asp-action="DeleteItem" asp-controller="Admin" asp-route-id="@item.Id"><i class="bx bx-trash delete-employee"></i></a></td>
                    </tr>
                }
            </tbody>
        </table>

       
    </section>


    <!-- السكريبتات -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/الموظفين.js"></script>
    <script>
         $(document).ready(function () {
            // Show options when typing in the input field
            $('#employee-name').on('input', function () {
                const query = $(this).val().trim();

                if (query.length > 0) {
                    // Send AJAX request to search for employees
                    $.ajax({
                        url: '/Admin/EmployeeSearch', 
                        type: 'GET',
                        data: { searchTerm: query },
                        success: function (data) {
                            // Clear previous options
                            $('#employee-name-options').empty().show();

                            // Add new options to the dropdown
                            data.forEach(employee => {
                                $('#employee-name-options').append(
                                    `<div class="option" data-id="${employee.id} " >
                                        ${employee.name}
                                     </div>`
                                );
                            });
                        },
                        error: function () {
                            console.error('Failed to fetch employee data.');
                        }
                    });
                } else {
                    $('#employee-name-options').hide();
                }
            });

            // Hide options list if clicking outside
            $(document).click(function (e) {
                if (!$(e.target).closest('.custom-select').length) {
                    $('#employee-name-options').hide();
                }
            });

            
            $('#employee-name-options').on('click', '.option', function () {
                const employeeName = $(this).text();
                const employeeId = $(this).data('id');

               
                
                $('#employee-name').val(employeeName);
                $('#employee-id').val(employeeId);

                $('#employee-name-options').hide();
                
            });
            
        });
    </script>
    <script>
        $(document).ready(function () {

            $("form").submit(function (e) {
 
                e.preventDefault();

                var employeeName = $("#employee-name").val();

                var item = $("select[name='Item']").val();

                var drawer = $("select[name='MoneyDrawer']").val();

                var amount = $("#transaction-amount").val();

                if (employeeName === "") {
                    Swal.fire({
                        text: 'يجب اختيار الموظف',
                        icon: 'warning',
                        showConfirmButton: false,
                        timer: 2000,
                        toast: true,
                        position: 'top-end',
                        background: '#ffffff',
                        iconColor: '#d9534f',
                        customClass: {
                            popup: 'small-toast',
                            title: 'small-toast-title',
                            content: 'small-toast-content'
                        }
                    });
                    return false;
                }

                if (item === "" || item === "اختر البند") {
                    Swal.fire({
                        text: 'يجب اختيار البند',
                        icon: 'warning',
                        showConfirmButton: false,
                        timer: 2000,
                        toast: true,
                        position: 'top-end',
                        background: '#ffffff',
                        iconColor: '#d9534f',
                        customClass: {
                            popup: 'small-toast',
                            title: 'small-toast-title',
                            content: 'small-toast-content'
                        }
                    });
                    return false;
                }

                if (drawer === "" || drawer === "اختر الخزنة") {
                    Swal.fire({
                        text: 'يجب اختيار الخزنة',
                        icon: 'warning',
                        showConfirmButton: false,
                        timer: 2000,
                        toast: true,
                        position: 'top-end',
                        background: '#ffffff',
                        iconColor: '#d9534f',
                        customClass: {
                            popup: 'small-toast',
                            title: 'small-toast-title',
                            content: 'small-toast-content'
                        }
                    });
                    return false;
                }

                if (amount === "" || isNaN(amount) || parseFloat(amount) <= 0) {
                    Swal.fire({
                        text: 'يجب إدخال مبلغ صحيح',
                        icon: 'warning',
                        showConfirmButton: false,
                        timer: 2000,
                        toast: true,
                        position: 'top-end',
                        background: '#ffffff',
                        iconColor: '#d9534f',
                        customClass: {
                            popup: 'small-toast',
                            title: 'small-toast-title',
                            content: 'small-toast-content'
                        }
                    });
                    return false;
                }
                this.submit();
            });
        });
    </script>

</body>
</html>
